


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






th {
    display: flex;
    align-items: baseline;
    padding: 20px 50px;
    gap: 150px
}




